@charset "utf-8";




/* 
   welcome.blade用のｃｓｓです。 
*/

    /* 背景動画用の加工 */
    video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    }
    
    /* 動画の上にテキストが表示されるためのｃｓｓ */
    .title {
    position: relative; /*必ず必要*/
    z-index: 2; /*必ず必要*/
    text-align:center;
    width:50%;
    padding:20px;
    margin: 0 auto;
    color: white;
    margin-top: 60px;
    }
    
    
    /*smoky doukiesの文字編集 */
    h1{
        font-weight:bolder;
        font-size: 150px;
        opacity:0.8;
        font-family:monotype corsiva; 
    }
    
    /*ボタンのｃｓｓ　*/
    .buttons {
  
        width:20px;
        font-size:24px;
        font-weight:bold;
        text-decoration:none;
        display:block;
        padding:8px 0 10px;
        color:#fff;
        background-color:#49a9d4;
        border-radius:25px;

    }

    
    .buttons:hover {
     -webkit-transform: rotateX(360deg);
     -ms-transform: rotateX(360deg);
     transform: rotateX(360deg);
     text-decoration: none;
     color: white;
      
    }


/* 終わり */

/* navbar用のcss*/
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0px;
    overflow: visible!important;
}

a.dropdown-toggle{
    margin-right: 10px;
}

.homebtn{
    margin-right: 50px;
}

/* index用のｃｓｓ　*/

            body{
                /* margin-top でナブバーに重ならないように変更*/
                margin-top: 70px;
                padding:0px;
            }
            
            #box1,#box2,#box3,#box4,#box5{
                height: 100vh;
                width: 100%;
            }
            
            
            
            #menu{
                position: fixed;
                top: 51.33px;

            }
            
            
            
            
            #leftoptions{
                height: 10000px;
                width: 135px;
                background-color: pink;
                float: left;
                opacity: 0.8;
            }
            
            
            a{
                font-family: arial black;
                font-size: 20px;
                text-decoration: none;
                margin-left: -15px;
            }
            
       

/* map.blade.php用のCSSです */
/* ここから */
    .center{
        text-align:center
    }
    
    .introduction {
      position: relative;
      width: 900px;
      height: 600px;
      margin: 20px auto;
    }
    
    .member-frame {
      position: absolute;
      width: 50%;
      height: 50%;
      background-position: center center;
      background-size: cover;
      text-indent: -9999px;
    }
    
    #A{
      top: 0;
      left: 0;
      height: 50%;
    }
    
    #B{
      top: 0;
      right: 0;
      height: 50%;
    }
    
    #C{
      bottom: 0;
      left: 0;
      height: 50%;
    }
    
    #D{
      bottom: 0;
      right: 0;
      height: 50%;
    }
    
    .maplarge{
        text-align:center;
    }
    
    
/* ここまで */
