@charset "utf-8";



/* 
    TODO list 
    
    x welcome bladeのボタン修正
    x welcome bladeのボタン加工
    
    x Profileの名前の修正
    x Smokersのview profileの修正
    x Mapのボタン修正



*/
    /* 全ページ共通の加工*/
    /* 前ページの背景色　black */
    
    body {
        background-color: black;
        padding:0px;
    }





/* 
   welcome.blade用のｃｓｓです。 
*/

    /* 背景動画用の加工 */
    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 1;
    }
    
    /* 動画の上にテキストが表示されるためのｃｓｓ */
    .title {
    position: relative; /*必ず必要*/
    z-index: 2; /*必ず必要*/
    text-align:center;
    width:50%;
    padding:20px;
    margin: 0 auto;
    color: white;
    margin-top: 130px;
    }
    
    
    /*smoky doukiesの文字編集 */
    h1{
        font-weight:bolder;
        font-size: 150px;
        margin-bottom: 00px;
        font-family: Monotype Corsiva;
        margin-bottom: 80px;
    }
    
    

    
    /*ボタンのｃｓｓ　*/
    .welcomebuttons {
        width:20px;
        font-size:24px;
        font-weight:bold;
        padding: 0.3em 1em;
        text-decoration: none;
        color: #AA0000;
        background-color:#AA0000;
        border-radius: 3px;
        transition: .4s;
        font-family: "Times New Roman";
        margin: 40px;
    }
    
    .welcomebuttons span{
      display:inline-block;
      position: relative;
      transition: .5s;
      color: white;
    }
    
    .welcomebuttons:hover span{
      -webkit-transform: rotateX(360deg);
      -ms-transform: rotateX(360deg);
      transform: rotateX(360deg);
      text-decoration: none;
    }

/* 終わり */

    /* register.bladeについて */
    
    .input_box{
        border:0;
        background-color:#404040;
        height: 50px;
        width:40%;
        font-size: 20px;
        font-family: "Times New Roman";
        
    }
    
    .signup{
        color: white;
        
    }
    
    .before_login{
        color: white;
        text-align: center;
        font-family: "Times New Roman";
    }
    
    .welcomebuttons_2 {
        width:100px;
        font-size:20px;
        font-weight:bold;
        text-decoration: none;
        background-color: #AA0000;
        color: white;
        border: solid 2px #AA0000;
        border-radius: 3px;
        transition: .4s;
        margin: 40px;
        text-align: center;
        font-family: "Times New Roman";
    }
    
    .welcomebuttons_2 span{
      display:inline-block;
      position: relative;
      transition: .5s;
    }
    
    
    .welcomebuttons_2:hover span{
      -webkit-transform: rotateX(360deg);
      -ms-transform: rotateX(360deg);
      transform: rotateX(360deg);
      text-decoration: none;        
        
    }
    


    /*navbar用のcss*/
   
    /*nav ul{*/
    /*    list-style:none;*/
    /*    overflow: hidden;*/
    /*    margin-top: 15px;*/
    /*}*/
    
    /*nav ul li{*/
    /*    display: inline-block;*/
    /*    float:right;*/
    /*    padding-right: 60px;*/
    /*}*/
    
    nav ul li a{
        color: #FFCC99;
        font-family: "Times New Roman";
        font-size: 20px;
    }
    
     /*下線表示のｃｓｓ */
    .topnavs a::after {
      border-bottom: solid 2px #FFCC99;
      bottom: 0;
      content: "";
      display: block;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      width: 0;
    }
    .topnavs a:hover::after {
      width: 100%;
      color:#FFCC99;
    }
    　/*ここまで　*/
    
    　/*マウスの上に乗せるときの修正　*/
    .topnavs a:hover{
        text-decoration: none;
        color: #FFCC99;
    }
    .topnavs a:active{
        text-decoration: none;
    }
    .topnavs a:visited{
        text-decoration: none;
        color: #FFCC99;
    }
    .homebtn {
        float:left;
    }
    .homebtn a{
        color:white;
        text-decoration: none;
        font-family: Monotype Corsiva;
        font-size:25px;
    }
    .homebtn a:hover{
        text-decoration: none;
        color:white;
    }
    .homebtn a:visited{
        text-decoration: none;
        color:white;
    }
    .logoutbtn a{
        color: white;
        text-decoration: none;
    }
    .logoutbtn a:hover {
        text-decoration: none;
        color:white;
    }
    .logoutbtn a:visited{
        text-decoration: none;
        color:white;
    }
    　/*ここまで　*/
    
    
    
    

    

    
   
   
   




    /* index用��ｃｓｓ　*/



    
    
    /* navleftの文字のフォントやサイズ変更 */
    
    #link1, #link2, #link3, #link4, #link5{
        text-decoration: none;
        
    }

    
    .lefttext{
        font-family: Microsoft JhengHei UI Light;
        font-size: 20px;
        margin-left: -15px;
        
        
        text-decoration: none;
        color: white;
    }
    
    .lefttext:hover{
        color: black;
    }
    
    /*各コンテンツの題名のフォント*/
    h2{
        color: #686868;
        font-family: "Lobster", serif;
        font-weight: 900;
        
    }
    
/* Profile用のCSSです */
 

/*smokers用のcss*/
    .nickname{
        font-size: 50px;
        text-align: center;
        color:  black;
        font-family: "Lobster", serif;
      
        
    }
    
    #profile_pic_flame{
        margin-bottom: 50px;
       
    }
    
     #profile_pic{
        width: 250px;
       
    }
    
    .nickname:hover{
        transform: scale(1.2);
        text-decoration: none;
    }
    
/*timeline用のcss*/
    .timeline{
       text-align: center;
    }
        
        
  
    
    


/* TWEETに関するｃｓｓ */
    #tweet_pic{
        width: 80px;
    }
    
     #tweet{
         color: white;
     }






/* map.blade.php用のCSSです */

/* ここから */


    
    .introduction {
      position: relative;
      width: 900px;
      height: 600px;
      margin: 20px auto;
    }
    
    .member-frame {
      position: absolute;
      width: 50%;
      height: 50%;
      background-position: center center;
      background-size: cover;
      text-indent: -9999px;
    }
    
    #A{
      top: 0;
      left: 0;
      height: 50%;
    }
    
    #B{
      top: 0;
      right: 0;
      height: 50%;
    }
    
    #C{
      bottom: 0;
      left: 0;
      height: 50%;
    }
    
    #D{
      bottom: 0;
      right: 0;
      height: 50%;
    }
    
    .maplarge{
        text-align:center;
    }
    
    /* ストアにつなげるボタン*/
    
    .storebuttons{
        display: inline-block;
        padding: 0.1em 1em;
        text-decoration: none;
        color: black;
        border: solid 2px black;
        border-radius: 3px;
        transition: .4s;
        text-align: center;
        font-size: 50px;
        font-family: Microsoft JhengHei UI Light;
        
        margin-bottom: 60px;
        
    }
    
    .storebuttons:hover{
        background-color: #333333;
        color: white;
        text-decoration: none;
        
    }
    
    .mapdetail{
        text-align: center;
    }
    

    .store{
        margin-bottom: 60px;
        color: white;
    }    
    
/* ここまで */
