@charset "utf-8";



/* 

    画像のｃｓｓは適当につくりました　仮です
    
*/

img {

        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;

    
}